# AIMMS Chap.19
**2024.01.24**

In [5]:
# Import
import numpy as np
import pandas as pd

from gurobipy import Model, GRB, quicksum

In [2]:
# Dataの定義
IncomeData = np.array([
    [20, 10000, 3, "Commerce", 0],
    [30, 15500, 2, "Agriculture", 1000], 
    [25, 20000, 5, "Agriculture", 1000], 
    [18, 25000, 4, "Commerce", 3000],
    [32, 15000, 3, "Commerce", 500]
    ])

PopulationData = np.array([
    [25, 15000, 4, 40, 12, "M", 2],
    [30, 15000, 2, 25, 16, "M", 0],
    [18, 20000, 1, 30, 18, "F", 0],
    [27, 25000, 2, 35, 16, "F", 1],
    [25, 20000, 4, 25, 12, "M", 1],
    ])

In [4]:
pd.DataFrame(IncomeData, columns=["No. of Families", "Gross Family Income", "No. of Familiy Members", "Source of Income", "Interest Income"])

,No. of Families,Gross Family Income,No. of Familiy Members,Source of Income,Interest Income
0,20,10000,3,Commerce,0
1,30,15500,2,Agriculture,1000
2,25,20000,5,Agriculture,1000
3,18,25000,4,Commerce,3000
4,32,15000,3,Commerce,500

In [3]:
pd.DataFrame(PopulationData, columns=["No. of Families", "Gross Family Income", "No. of Familiy Members", "Head of Household(Age)", "Head of Household(Education)", "Head of Household(Sex)", "No. of Familiy Members Under 18"])

,No. of Families,Gross Family Income,No. of Familiy Members,Head of Household(Age),Head of Household(Education),Head of Household(Sex),No. of Familiy Members Under 18
0,25,15000,4,40,12,M,2
1,30,15000,2,25,16,M,0
2,18,20000,1,30,18,F,0
3,27,25000,2,35,16,F,1
4,25,20000,4,25,12,M,1

In [ ]:
# Indices

In [ ]:
# 距離の計算
"""
    calcDistance

"""
def calcDistance(G, M, s_G, s_M):
    return

In [ ]:
def main_ex1():
    return

In [ ]:
def main_ex2():
    return

In [ ]:
if __name__ == "__main__":
    main_ex1()
    # main_ex2()